body{
  background:#404146 ;
  text-align: center;
  height: 100vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
}

.mainContainer {
  text-align: center;
}

.todoForm{
  display: flex;
}

table{
  border-collapse: collapse;
  border-spacing: 100px;
  width: 100%;
}
.taskTable{
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  
}

.taskItem{
  text-align:left;
  padding-left:25px;
}







